 <h2>Contact</h2>
<div id="contact_main" class="row">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <p>We are located at the intersection of College Street and Ossington Avenue, just outside of the Dufferin Grove area. </p><p class="store-hours-title"><strong>Operating Hours:</strong></p>
    <ul class="home-hours">
      <li><span class="thin">Monday to Saturday:</span> 10am-10pm</li>
      <li><span class="thin">Sunday:</span> Closed</li>
    </ul>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Get In Touch</h3>
      </div>
      <div class="panel-body">
        <address>
          <h4>College Falafel</h4>
          450 Ossington Ave<br>
          Toronto, ON<br>
          <abbr title="Phone"><i class="fa fa-phone" aria-hidden="true"></i></abbr>  (416) 532-8698 <br>
          <span class="call-for-pickup">*Call For Pickup</span>
        </address>
      </div>
    </div>
  </div>
</div>

<div id="" class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="well">
      <h5>Send us your feedback!</h5>
      <form method="POST" action="http://apps.phrakture.com/cfstaging/api/v1/mailer.php">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <input type="text" placeholder="Enter Your Name" name="name" id="input" class="form-control" value="" required="required">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <input type="email" placeholder="Enter Your Email" name="email" id="input" class="form-control" value="" required="required">
        </div>
      </div>
      <div class="row top-clear-sm">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <textarea placeholder="Enter Message" name="message" id="input" class="form-control" rows="3" required="required"></textarea>
        </div>
      </div>
      <input type="text" value="feedback" name="type" style="display: none;">
      <input type="submit" class="top-clear-sm btn btn-primary btn-lg"></input>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2886.6882054525936!2d-79.42509158484867!3d43.654654979121204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b34f7a5d90e01%3A0xc0244cbb2b5f37fc!2sCollege+Falafel!5e0!3m2!1sen!2sca!4v1468108249134" width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>