<div id="foodee-banner" class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <p id="intro-text" class="text-center">Have College Falafel delivered to your home or office for catering using our trusted corporate delivery service!<br/></p>
  </div>
  <div class="col-xs-12 col-sm-offset-2 col-sm-8">
    <a href="https://www.food.ee/restaurants/toronto/college-falafel/"><img style="width: 100%;" src="img/foodee_backlink.png"/></a>
  </div>
</div>

<h2>Catering</h2>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <p>Catering at College Falafel is simple. We offer two types of catering packages; a large order of our typical menu items or customized platters. Platters range from completely vegetarian, to a meat lover’s buffet, all the way to a platter full of our unique desserts and everything in between.</p>
    <p>To place an order please call us at (416) 532-8698 or use our online catering order submission tool. All payment information is confirmed and processed over the phone.</p>
  </div>
</div>


<div class="row">
  <div class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <a target="_blank" href="#!/catering" class="catering-option-button">Launch Online Catering Order Submission Tool</a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Frequently Asked Questions</h3>

    <p><strong>When are you closed or unable to fulfill catering orders?</strong></p>
    <p>Sunday</p>

    <p><strong>What is your earliest pickup time on weekdays?</strong></p>
    <p>10:00am</p>

    <p><strong>When is your latest pickup time on weekdays?</strong></p>
    <p>10:00pm</p>

    <p><strong>When is your busy time when you do not want orders picked up?</strong></p>
    <p>12:00pm - 12:30pm</p>

    <p><strong>When picking up an order, which side of the store should we come to and is there parking?</strong></p>
    <p>Pick up in front of the store and you can park across the street.</p>

    <p><strong>Are you able to accept same day orders?</strong></p>
    <p>Yes</p>

    <p><strong>What is the maximum capacity for a same-day order with 2 hours notice?</strong></p>
    <p>50 meals</p>

    <p><strong>What is the minimum number of hours you need to fulfill a same-day order?</strong></p>
    <p>2</p>

    <p><strong>What is the maximum meal capacity for catering orders with minimum 3+ days notice?</strong></p>
    <p>500 meals</p>

    <p><strong>What kind of dietary accomodations do you provide?</strong></p>
    <p>We have halal options, vegetarian options, vegan options, gluten-free options and dairy-free options.</p>
  </div>
</div>

<h2>Gallery</h2>

<div class="row catering-gallery">
  <img style="width:50%; display:inline-block; float: left;" src="img/catering-1.jpg">
  <img style="width:50%; display:inline-block; float: left;" src="img/catering-2.jpg">
</div>

<div class="row catering-gallery">
  <img style="width:50%; display:inline-block; float: left;" src="img/catering-3.jpg">
  <img style="width:50%; display:inline-block; float: left;" src="img/catering-4.jpg">
</div>
