<style type="text/css">

  #main-banner, #mobile-banner, #main-info, #main-nav, #mobile-nav, #mobile-info {
    display: none;
  }

  #order-summary-container {
    position: fixed;
    top: 20px;
    left: 2%;
    background-color: white;
    width: 96%;
    padding: 10px;
    overflow-y: scroll;
    border: 2px solid #db271f;
    border-radius: 5px;
    max-height: 90vh;
    z-index: 5;
  }

  .background-fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2000px;
    background-color: #7a1817;
    opacity: 0.9;
  }

  #order-summary {
    margin-top: 0px;
  }

  .order-summary-header {
    margin-top: 0px;
  }

  .catering-menu-option {
    background-color: #db271f;
    color: white;
    font-size: 1.5em;
    padding: 0px 10px 0px 10px;
    display: inline-block;
    border-radius: 5px;
    border-bottom: 3px solid #d8cec5;
    cursor: pointer;
    margin: 5px;
  }

  .catering-menu-option:active {
    opacity: 0.5;
  }

  textarea {
     resize: none;
  }

  .step-header {
    font-weight: bold;
    font-size: 1.5em;
    border: 2px solid #D82928;
    border-radius: 15px;
    display: inline-block;
    padding: 10px;
    margin: 0px 15px 15px 15px;
    color: #D82928;
  }

  .special-request {
    width: 100%;
  }

  .custom-field {
    font-size: 1.3em !important;
    padding: 10px !important;
    width: 100%;
  }

  .custom-item {
    font-size: 1.3em;
  }

  .custom-button {
    float: right;
    margin: 0;
    padding: 0px 10px 0px 10px;
  }

  #custom-platter {
    font-size: 1.3em;
  }

  .custom-total-header {
    font-weight: bold;
    margin: 0;
  }

  .clickable {
    cursor: pointer;
  }

  .clickable:hover {
    color: #D32423;
  }

  .total-price {
    margin-bottom: 0px;
  }

  .clear-bottom {
    margin-bottom: 10px;
  }

  #totals {
    font-size: 1.4em;
  }

  #totals table {
    width: 100%;
  }

  .premade-platter-plus, .premade-platter-minus, .premade-platter-quantity {
    padding: 5px 10px 5px 10px;
    margin-top: 5px;
    display: inline-block;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.2em;
  }

  .premade-platter-plus:active, .premade-platter-minus:active, .premade-platter-quantity:active {
    opacity: 0.5;
  }

  .premade-platter-plus {
    color: white;
    background: #178E49;
  }

  .premade-platter-minus {
    color: white;
    background: #d92a28;
  }

  .premade-platter-quantity {
    color: #d92a28;
    border: 1px solid #d92a28;
  }

  .platter-category-btns {
    width: 100%;
  }

  .platter-category-btn {
    display: inline-block;
    padding: 5px 10px 5px 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid #D32423;
    border-radius: 5px;
    cursor: pointer;
    color: #D32423;
  }

  .platter-category-selected {
    background-color: #D32423;
    color: white;
  }

  .custom-platter-items {
    width: 100%;
    margin: 10px;
  }

  .custom-final-item {
    padding: 5px 5px 5px 10px;
    background-color: white;
  }

  .custom-final-item-removal {
    float: right;
    margin: 5px;
    cursor: pointer;
  }

  .bulk-item {
    font-size: 1.2em;
    padding: 10px;
  }

  .add-bulk-item, .remove-bulk-item, .bulk-item-quantity {
    cursor: pointer;
    display: inline-block;
    padding: 0px 7px 0px 7px;
    border-radius: 5px;
  }

  .add-bulk-item:active, .remove-bulk-item:active {
    opacity: 0.5;
  }

  .add-bulk-item {
    background-color: #178340;
    color: white;
  }

  .remove-bulk-item {
    background-color: #D32423;
    color: white;
  }

  .bulk-item-quantity {
    border: 1px solid #D32423;
    color: #D32423;
  }

  #catering-top-menu {
    margin-bottom: 10px;
  }

  #catering-top-menu a {
    margin: 5px;
  }

</style>

<div id="catering-top-menu">
  <a href="#!/home">HOME</a>
  <a href="#!/menu">MENU</a>
  <a href="#!/catering-info">CATERING</a>
  <a href="#!/contact">CONTACT</a>
  <a href="#!/about">ABOUT US</a>
</div>

<div class="row justify-content-center">
  <div class="text-center step-header">Step 1. Fill in your contact information</div>
</div>

<div class="row">
  <div class="col-md-12">
    <input ng-model="orderSummary.name" class="order-detail-input" type="text" placeholder="Enter your name" ng-blur="saveData()">
    <input ng-model="orderSummary.phone" class="order-detail-input" type="number" placeholder="Enter your phone number" ng-blur="saveData()">
    <input ng-model="orderSummary.email" class="order-detail-input" type="email" placeholder="Enter your email" ng-blur="saveData()">
    <textarea ng-model="orderSummary.specialRequest" rows="3" class="order-detail-input" placeholder="Add any special requests or specify allergies/dietary restrictions" ng-blur="saveData()"></textarea>
  </div>
</div>

<div class="row justify-content-center">
  <div class="text-center step-header">Step 2. Build your order</div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div ng-click="showSection = 'premade'" class="catering-menu-option">Premade Platters</div>
    <div ng-click="showSection = 'custom'" class="catering-menu-option">Custom Platters</div>
    <div ng-click="showSection = 'bulk'" class="catering-menu-option">Regular Menu Items</div>
  </div>
</div>

<div class="row">
  <div id="premade-platters" ng-show="showSection == 'premade'" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h3 class="text-center">Premade Platters</h3>
    <p class="text-center">Choose from some of our most popular premade platters including meat platters, vegetarian platters, and dessert platters. Each platter serves 8 people.</p>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div ng-repeat="platter in premadePlatters" class="premade-platter-display col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <p class="platter-name">{{platter.name}}</p>
        <p class="platter-desc">{{platter.desc}}</p>
        <p class="platter-price">${{platter.price}}</p>
        <div class="premade-platter-plus" ng-click="addPlatter(platter)">
          <i class="fa fa-plus"></i>
        </div>
        <div class="premade-platter-minus" ng-click="reduceFromOrder(platter.name, platter.desc)">
          <i class="fa fa-minus"></i>
        </div>
        <div class="premade-platter-quantity">{{platter.quantity}}</div>
      </div>
    </div>
  </div>
  <div id="build-platters" ng-show="showSection == 'custom'" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h3 class="text-center">Build Your Own Platter</h3>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h4>Name:</h4>
      <input class="custom-field" type="text" ng-model="custom.name" placeholder="Enter name">
      <h4>Special Requests:</h4>
      <input class="custom-field" type="text" ng-model="custom.specialRequest" placeholder="Enter any special requests (allergies, dietary restrictions)">
      <h4>How Many People?</h4>
      <input class="custom-field" type="number" min="1" ng-model="custom.serving">
      <div class="col-md-5"><h5>Your Platter:</h5></div>
      <div class="col-md-7"><h5>Menu Items (single servings):</h5></div>

      <div id="custom-platter" class="col-md-5">
        <p class="custom-total-header">Total: ${{(custom.price * custom.serving).toFixed(2)}}</p>
        <div class="custom-platter-items">
          <div class="custom-final-item" ng-repeat="item in custom.items">
            {{item.name}}
            <i class="fa fa-remove custom-final-item-removal" ng-click="removeFromCustomPlatter(item.id)"></i>
          </div>
        </div>
        <div class="premade-platter-add-button" ng-click="confirmAndAddToOrder(custom)"><i class="fa fa-plus"></i> Confirm and add to order</div>
        <div class="premade-platter-new-button" ng-click="resetCustomPlatter()"><i class="fa fa-refresh"></i> Clear and create new platter</div>
      </div>
      <div class="col-md-7">
        <div class="platter-category-btns">
          <div class="platter-category-btn" ng-click="platterCategory = 'protein'" ng-class="{'platter-category-selected': platterCategory == 'protein'}">Protein</div>
          <div class="platter-category-btn" ng-click="platterCategory = 'sides'" ng-class="{'platter-category-selected': platterCategory == 'sides'}">Sides</div>
          <div class="platter-category-btn" ng-click="platterCategory = 'desserts'" ng-class="{'platter-category-selected': platterCategory == 'desserts'}">Desserts</div>
        </div>
        <ul class="list-group">
          <li class="list-group-item custom-item" ng-repeat="item in items" ng-show="item.category == platterCategory"><strong>${{item.price}}</strong> - {{item.name}}<div class="premade-platter-add-button custom-button" ng-click="addToCustomPlatter(item)">+</div></li>
        </ul>
      </div>
    </div>
  </div>
  <div id="bulk-menu-items" ng-show="showSection == 'bulk'" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h3 class="text-center">Bulk Menu Items</h3>
    <p class="text-center">Choose from our regular menu items</p>
    <div class="platter-category-btns">
      <div class="platter-category-btn" ng-click="bulkItemFilter = 'sandwiches'" ng-class="{'platter-category-selected': bulkItemFilter == 'sandwiches'}">Sandwiches</div>
      <div class="platter-category-btn" ng-click="bulkItemFilter = 'plates'" ng-class="{'platter-category-selected': bulkItemFilter == 'plates'}">Plates</div>
      <div class="platter-category-btn" ng-click="bulkItemFilter = 'sides'" ng-class="{'platter-category-selected': bulkItemFilter == 'sides'}">Sides</div>
      <div class="platter-category-btn" ng-click="bulkItemFilter = 'desserts'" ng-class="{'platter-category-selected': bulkItemFilter == 'desserts'}">Desserts</div>
      <div class="platter-category-btn" ng-click="bulkItemFilter = 'drinks'" ng-class="{'platter-category-selected': bulkItemFilter == 'drinks'}">Drinks</div>
    </div>
    <div ng-repeat="bulkItem in bulkItems" ng-show="bulkItem.category == bulkItemFilter" class="bulk-item col-xs-12 col-sm-12 col-md-6 col-lg-6">
      ${{bulkItem.price}} - <strong>{{bulkItem.name}}</strong>
      <br>
      <div class="add-bulk-item" ng-click="addBulkItem(bulkItem)">
        <i class="fa fa-plus"></i>
      </div>
      <div class="remove-bulk-item" ng-click="removeBulkItem(bulkItem)">
        <i class="fa fa-minus"></i>
      </div>
      <div class="bulk-item-quantity">
        {{bulkItem.quantity}}
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="text-center step-header">Step 3. Review and submit your request</div>
  <div class="col-md-12">
    <p ng-click="showSummary = !showSummary" class="catering-menu-option">Click here to review your order.</p>
  </div>
</div>

<div ng-show="showSummary" id="order-summary-container">
  <div id="order-summary">
    <p class="order-summary-header">Order Summary</p>
    <div ng-repeat="item in orderSummary.items" class="order-summary-platters">
      <p class="item-content"><strong>${{item.price}} - {{item.name}} (x{{item.quantity}})</strong> {{item.desc}}</p>
      <div class="special-request" ng-show="item.edit == false"><em>{{item.specialRequest}}</em></div>
      <div class="edit-from-order-button" ng-click="item.edit = !item.edit; saveData();">
        <i class="fa fa-edit"></i> {{item.edit ? "Save Special Request" : "Add Special Request"}}
      </div>
      <div class="remove-from-order-button" ng-click="reduceFromOrder(item.name, item.desc)">
        <i class="fa fa-minus"></i>
      </div>
      <div class="remove-from-order-button" ng-click="removeFromOrder(item.id)">
        <i class="fa fa-close"></i>
      </div>
      <br>
      <textarea class="special-request-input" ng-show="item.edit == true" ng-model="item.specialRequest" placeholder="Enter special request"></textarea>
    </div>
    <div id="totals">
      <table>
        <tr>
          <td>Subtotal:</td>
          <td>${{(orderSummary.total).toFixed(2)}}</td>
        </tr>
        <tr>
          <td>HST (13%):</td>
          <td>${{(orderSummary.total * 0.13).toFixed(2)}}</td>
        </tr>
        <tr>
          <td><strong>Total:</strong></td>
          <td><strong>${{(orderSummary.total * 1.13).toFixed(2)}}</strong></td>
        </tr>
      </table>
      <div class="premade-platter-add-button" ng-click="showSummary = !showSummary">Continue Editing Order</div>
      <div class="premade-platter-add-button" ng-click="submitOrder()">Submit Order</div>
      <div class="premade-platter-add-button" ng-click="resetOrder()">Clear</div>
    </div>
  </div>
</div>

<div ng-click="showSummary = !showSummary" ng-show="showSummary" class="background-fade"></div>