<h2>Catering</h2>


<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <p>Catering at College Falafel is simple. We offer two types of catering packages; a large order of our typical menu items or customized platters. Platters range from completely vegetarian, to a meat lover’s buffet, all the way to a platter full of our unique desserts and everything in between.</p>
  <p>To place an order please call us at (416) 532-8698 or fill out the contact form below.</p>
  </div>
</div>


<h3 ng-click="toggleFromFilterList('hot')">HOT</h3>
<h3 ng-click="toggleFromFilterList('cold')">COLD</h3>
<h3 ng-click="toggleFromFilterList('vege')">VEGE</h3>
<h3 ng-click="toggleFromFilterList('meat')">MEAT</h3>

<div ng-repeat="item in menu | filter:tag">
  <p>{{item.name}} | {{item.desc}} | {{item.price}}</p>
</div>

<h2>Gallery</h2>

<div class="row catering-gallery">
  <img style="width:50%; display:inline-block; float: left;" src="img/catering-1.jpg">
  <img style="width:50%; display:inline-block; float: left;" src="img/catering-2.jpg">
</div>

<div class="row catering-gallery">
  <img style="width:50%; display:inline-block; float: left;" src="img/catering-3.jpg">
  <img style="width:50%; display:inline-block; float: left;" src="img/catering-4.jpg">
</div>
