<h2>About Us</h2>
<h3>Coming soon...</h3>
<!-- <div class="row" style="margin-bottom: 30px;">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <h4 style="margin-top: 0px;">Section 1</h4>
    <p style="font-size: 17px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <img style="max-width: 100%" src="img/home-circle2.png" alt="...">
  </div>
</div>
<div id="section2" class="row" style="margin-bottom: 30px;">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <img style="max-width: 100%" src="img/home-circle3.png" alt="...">
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <h4 style="margin-top: 0px;">Section 2</h4>
    <p>Catering at College Falafel is simple. We offer two types of catering packages; a large order of our typical menu items or customized platters. Platters range from completely vegetarian, to a meat lover’s buffet, all the way to a platter full of our unique desserts and everything in between.</p>
  </div>
</div>
<div class="row" style="margin-bottom: 30px;">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <h4 style="margin-top: 0px;">Section 1</h4>
    <p style="font-size: 17px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <img style="max-width: 100%" src="img/home-circle2.png" alt="...">
  </div>
</div>
<div id="section2" class="row" style="margin-bottom: 30px;">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <img style="max-width: 100%" src="img/home-circle3.png" alt="...">
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <h4 style="margin-top: 0px;">Section 2</h4>
    <p>Catering at College Falafel is simple. We offer two types of catering packages; a large order of our typical menu items or customized platters. Platters range from completely vegetarian, to a meat lover’s buffet, all the way to a platter full of our unique desserts and everything in between.</p>
  </div>
</div> -->