<h2>About Us</h2>

<h4>Our Halifax style, East Coast donair specialty:</h4>

<div class="row section-about-us">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <img style="width:100%;" src="img/about-us-12.jpg" alt="100 best eats toronto">
  </div>
</div>

<div class="row section-about-us">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <img style="width:100%;" src="img/about-us-8.jpg" alt="Nova scotia donairs toronto">
  </div>
</div>

<div class="row section-about-us">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <img style="width:100%;" src="img/about-us-7.jpg" alt="East Coast donair toronto">
    <img style="width:100%;" src="img/about-us-11.jpg" alt="College falafel testimonial">
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <img style="width:100%;" src="img/about-us-10.jpg" alt="Best shawarma in T.O.">
  </div>
</div>

<h4>Our story:</h4>

<div class="row section-about-us">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <img style="width:100%;" src="img/about-us-9.jpg" alt="Traditional Albanian fare">
  </div>
</div>

<img style="width:100%" src="img/about-us-1.jpg" alt="Collegefalafel">
<p class="text-center text-italic">College Falafel circa winter 2016</p>

<h4 class="text-center">Everything is made from scratch, nothing comes prepackaged.</h4>

<div class="row section-about-us">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-about-us">
    At College Falafel we are known for our shawarmas, falafels, and East Coast Donair. We are one of the first restaurants for <strong>Halifax Style Donairs</strong> in Toronto. We began to carry the east coast donair in 2004, just 1 year after it was introduced.
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <img style="width:100%" src="img/about-us-3.jpg" alt="fresh vegetables">
  </div>
</div>

<div class="row section-about-us">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <img style="width:100%" src="img/about-us-2.jpg" alt="Bardhyl">
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-about-us">
    There is a variety of vegan and vegetarian foods at College Falafel, the most popular one being our falafel. One of our main goals is about making homemade foods right in front of you, our slogan is <strong>“home made from scratch”</strong> because that is what matters to us.
  </div>
</div>

<p class="text-about-us">College Falafel has been a catering service for all types of events, birthdays, schools, weddings, corporations, institutions, and many more. </p>

<div class="row section-about-us">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <img style="width:100%" src="img/about-us-5.jpg" alt="College Falafel catering">
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <img style="width:100%" src="img/about-us-6.jpg" alt="College Falafel catering">
  </div>
</div>

<p class="text-about-us">College falafel is a place of comfort and warmth where everyone is welcome and is treated with respect and attention. With a combined 70 years of food industry experience Oljana and Bardhyl, have dedicated their lives to making and serving great culinary experiences.</p>

<img style="width:100%" src="img/about-us-4.jpg" alt="Bardhyl and Oljana">


